/*** LAYOUT */
.page-width, .hd-width, .super-width {
	max-width: 90%;
	margin: auto;
}
.full-width {
	width: 100%;
}
.row { 
	display: block;

}
.row::after {
    content: "";
    clear: both;
    display: table;
}
.col, .content-area, .widget-area {
	width: 100%;
	box-sizing: border-box;
	-ms-word-wrap: break-word;
	word-wrap: break-word;
}
.content-area, .widget-area {
	padding-top: 20px;
}
.full-mobile {
	margin-right: 0;
	margin-left: 0;
}
.gutter .col { margin-bottom: 3%; margin-right: 0 !important; }
.hide-on-desktop { display: block; }
.hide-on-mobile { display: none; }
/*** HEADER & LOGO */
.site-header {
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}
.site-header {
	position: relative;
}
.menu-toggle {
	position: absolute;
	right: 15px;
	top: 33px;
}
.custom-logo-link {
	margin-top: 12px;
	margin-bottom: 12px;
}
.custom-logo-link img {
	margin-bottom: -5px;
	max-width: 200px;
}
/*** NAVIGATION MENU */
.menu-toggle {
	border: 0;
	background: none;
	font-size: 16px;
	padding: 0;
	cursor: pointer;
}
.main-navigation a, .main-navigation a:visited {
	padding: 7px 5px;
	text-transform: uppercase;
	font-size: 14px;
	color: #555;
}
.main-navigation ul.children li a {
	font-size: 13px;
	text-transform: capitalize;
	padding: 7px 12px;
}
.main-navigation.toggled ul li {
	border-top: 1px solid #f0f0f0;
}
.main-navigation.toggled ul.children li a {
	position: relative;
	padding: 9px 5px 9px 20px;
}
.main-navigation.toggled ul.children li a:before {
	position: absolute;
	display: block;
	content: "–";
	top: 8px;
	left: 5px;
	width: 20px;
	line-height: 16px;
}
/*** TYPOGRAPHY */
a, a:visited {
	color: #2455c4;
}
a:hover {
	color: #151515;
}
.align-center {
	text-align: center;
	align-items: center;
}
.align-left {
	text-align: left;
}
.align-right {
	text-align: right;
}
.page-title {
	margin: 0 0 0.25em;
}
.entry-title {
	margin: 0 0 0.25em;
}
.entry-title a {
	text-decoration: none;
}
.entry-content ul, .entry-content ol {
	padding-left: 0;
}
.entry-content ul li, .entry-content ol li {
	margin-bottom: 10px;
}
.entry-content ul li ul, .entry-content ol li ol {
	padding-top: 10px;
}
article.post {
	margin-bottom: 2.5em;
}
/*** WIDGET */
.widget {
	margin-bottom: 1.85em;
}
.widget ul {
	margin-left: 0;
	padding-left: 0;
	list-style-type: none;
}
.widget ul li::before {
    content: "\f105";
    font-family: 'Font Awesome 5 Free', 'FontAwesome';
    font-weight: 900;
    color: #ccc;
    margin-right: 6px;
}
.widget ul li {
    border-bottom: 1px solid #eee;
    padding-top: 8px;
	padding-bottom: 8px;
    padding-left: 6px;
}
.widget ul li:first-child {
    border-top: 1px solid #eee;
    padding-top: 8px;
}
.widget ul li ul li::before {
    content: "\f0da";
    margin-right: 6px;
}
.widget ul li ul li {
    border-bottom: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}
.widget ul li ul li {
    margin-left: 15px;
}
.widget ul li ul li:first-child {
    padding-top: 10px;
}
.widget ul li a {
	text-decoration: none;
}
/*** IMAGES */
.post-thumbnail img {
	margin-top: 1.5em;
}
img.alignright, img.alignleft {
	margin-top: 4px;
}
/*** FOOTER */
.entry-meta, .entry-footer {
	font-size: 0.85em;
}
.site-footer {
	padding: 15px 0;
	border-top: 1px solid #f0f0f0;
	font-size: 12px;
}
